<h3> DataTable with large data set</h3>
<p>
  <b>Data : A large set of data</b>
  <br># data = []
  <br># for i in 0..100000
  <br># &ensp;data << i
  <br># end
  <br>
  <b>Options : </b>
  {:searching=>false, :pageLength=>7, :data=> # A large set of data }
  <br>
  <b>HTML Options : </b>
  <%=raw @table_array_large.html_options %>
  <br>
  <b>Chart : </b>
  <br>
  <%=raw @table_array_large.to_html %>
</p>
<br>

<h3> DataTable with data as an Array</h3>
<p>
  <b>Data : </b>
  <%=raw @table_array.data %>
  <br>
  <b>Options : </b>
  <%=raw @table_array.options %>
  <br>
  <b>HTML Options : </b>
  <%=raw @table_array.html_options %>
  <br>
  <b>Chart : </b>
  <br>
  <%=raw @table_array.to_html %>
</p>
<br>

<h3> DataTable with data as a Daru::Vector </h3>
<p>
  <b>Data : </b>
  <%=raw @table_dv.data %>
  <br>
  <b>Options : </b>
  <%=raw @table_dv.options %>
  <br>
  <b>HTML Options : </b>
  <%=raw @table_dv.html_options %>
  <br>
  <b>Chart : </b>
  <br>
  <%=raw @table_dv.to_html %>
</p>
<br>

<h3> DataTable with data as a Daru::DataFrame </h3>
<p>
  <b>Data : </b>
  <%=raw @table_df.data %>
  <br>
  <b>Options : </b>
  <%=raw @table_df.options %>
  <br>
  <b>HTML Options : </b>
  <%=raw @table_df.html_options %>
  <br>
  <b>Chart : </b>
  <br>
  <%=raw @table_df.to_html %>
</p>
<br>